@import url('/fonts/Fira/fira.css');
@import url('/fonts/openiconic/css/open-iconic.css');
@import url('/fonts/charissil/charissil.css');


body,input {
    font: 11pt/1.5 "Fira Sans", "Droid Sans", "Open Sans", Verdana, arial, sans-serif;
    background: #fff;
}
body {
    margin: 50px 0 50px;
}
@media screen and (min-width:800px) {
	body {
          font-size: 13pt;
          text-align: center;
	}
}
a {
    text-decoration: none;
    color: #16a085;
    cursor: pointer;
    outline:0;
    transition: all .2s;
    -webkit-transition: all .2s;
}
a:hover {
    color: #333 !important;
}
article a:hover { text-decoration: underline; }

pre, code {
    background-color: #FAF8F2;
    color: #777;
    border-radius: 2px;
    font-size: 90%;
}

em em {
    font-style: normal;
}

code {
    padding: 0 5px;
    font-size: 90%;
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens:  none;
    -o-hyphens: none;
    -ms-hyphens: none;
}

pre code {
   box-shadow: 0 0;
   padding: 0;
}
hr {
   border: 1px solid #DEDEDC;
   display: block;
   margin: 20px auto;
   width: 20%;
}
hr.wide {
   width: 100%;
   max-width: 750px;
   border-width: 2px;
}
hr.menu {
   margin: 0 auto;
}
@media screen and (min-width:1070px) {
   hr.menu {
      margin: 20px 0 20px auto;
   }
}
@media screen and (min-width:800px) {
   .mobileon {
     display: none !important;
   }
}
@media screen and (max-width:799px) {
   .mobileoff {
     display: none !important;
   }
}
#post hr {
   margin: 50px auto;
}
.label {
   font-size: 80%;
   padding: 2px 8px;
   background-color: #ddd;
   font-weight: bold;
   color: #fff;
   border-radius: 3px;
}
.label.black {
   background-color: #333;
}
.label.grey {
   background-color: #bbb;
}

@media screen and (min-width:1070px) {
    section.article {
        display: inline-block;
    }
}

.archives h2 {
	font-weight: bold;
}
.archives p {
	padding: 20px;
	text-align: left;
}
.archives a.rss {
	display: inline-block;
	background-color: #D56C3B;
	vertical-align: middle;
	border-radius: 2px;
	padding: 0 8px;
	color: #fff;
	font-size: 60%;
}
.archives .desc {
    font-size: 110%;
    margin: 0 0 10px;
    text-align: left;
}
.archives div ul {
	margin: 0;
	padding: 0;
	text-align: left;
}
.archives div li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.archives div li > a {
    display: inline-block;
    vertical-align: bottom;
    padding: 8px 0;
    text-align: left;
    font-size: 115%;
    font-weight: bold;
}
.archives div li > a:hover {
	text-decoration: none;
  color: #000;
}
.archives a time {
    color: #818181;
    font-weight:normal;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 2px;
}
@media screen and (min-width:600px) {
	.archives a time {
	    display: inline-block;
	    margin-left:10px;
	    padding-top: 6px;
	    float:right;
	}
}

/* Ntitle (Navigation Title) */
#ntitle {
    height: 50px;
    position: fixed;
    font-size: 85%;
    width: calc(100% - 50px);
    display: block;
    background-color: rgba(255, 255, 255, .92);
    overflow: hidden;
    padding: 0 25px;
    text-align: left;
}
#ntitle > div {
    margin: 0 auto;
    padding: 0;
}
#ntitle > div > * {
    line-height: 50px;
    max-height: 50px;
    display: inline-block;
    text-align: left;
}
#ntitle h1 {
    margin: 0px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 120%;
    transition: all .2s;
}
#ntitle h1:hover {
    opacity: .75;
}
#ntitle h1 span {
    text-transform: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    padding-left: 2px;
}
#ntitle .desc {
    font-style: italic;
    font-size: 95%;
    color: rgba(0, 0, 0, 0.6);
    line-height: 18px;
    max-width: 280px;
    vertical-align: top;
    padding: 7px 0 0 10px;
}
#ntitle .nlinks {
    font-weight: 800;
    text-transform: uppercase;
    text-align: right;
    padding: 0 0 0 10px;
    float: right;
    color: #888;
}
#ntitle .nlinks > span {
    display: inline;
}
#ntitle .nlinks a {
    display: inline-block;
}
#ntitle .button {
    font-size: 100%;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
}
#ntitle .button:hover {
    border-color: rgba(0, 0, 0, .6);
}
#ntitle .button.menumarker {
    float: right;
    position: absolute;
    top: 6px;
    right: 25px;
}
#ntitle .button.home {
    margin-right:5px;
}
#ntitle .button.rss {
    float: right;
    margin-top: 6px;
    margin-left: 5px;
}
@media screen and (max-width:799px) {
   #ntitle {
     font-size: 100% !important;
     z-index:300;
     top: 0;
     border-bottom: 1px solid rgba(0, 0, 0, 0.05);
     transition: all .5s;
     -webkit-transition: all .5s;
     box-shadow: 0 0 0 3000px transparent !important;
   }
   #ntitle.anim {
     transform: translateX(0%);
     -webkit-transform: translateX(0%);
     animation: slidedown .5s 1;
   }
   #ntitle:hover {
     height: 320px;
     box-shadow: 0 0 0 3000px rgba(0, 0, 0, .4) !important;
     background-color: #fff;
   }
   #ntitle .nlinks {
     display: block;
     float: none !important;
     max-width: none !important;
   }
   #ntitle .nlinks > span {
     display: block !important;
   }
   #ntitle .nlinks > span a {
     padding: 0 0 0 30px;
   }
   #ntitle .button.home {
     position: fixed;
     right: 62px;
     top: 6px;
   }
   #ntitle:hover .button.menumarker.mobileon {
     opacity: .5;
     pointer-events: none;
   }
}
@media screen and (min-width:800px) {
   #ntitle {
     border-top: 1px solid rgba(0, 0, 0, 0.05);
     bottom: 0;
   }
   #ntitle.anim {
     animation: slideup .5s 1;
   }
}

/* article */
section.article {
    margin: 0 auto;
    padding: 30px 0;
    vertical-align: top;
    text-align: left;

}
article,
.invitation {
    margin: 0 auto !important;
    max-width: 750px;
    padding: 0 25px !important;
    color: #333332;
}
.invitation {
    font-style: italic;
    color: #888;
}

.top  {
    display: block;
    text-align: center;
    color: #888;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 70%;
    font-weight: 500;
    height: 25px;
    line-height: 26px;
    animation: slidedown .5s 1;
    -webkit-animation: slidedown .5s 1;
}
@media screen and (min-width:1090px) {
    .top {
      bottom: 14px;
      position: fixed;
      left: 0px;
      right: 0px;
      z-index: 2;
      width: 200px;
    }
}
article h1 {
    color: #333332;
    font-size: 220%;
    margin: 0 5px 35px 0;
    line-height: 1.1;
    text-align: center;
}
.centered article h1,
.centered #post {
     text-align: center;
}
article h1 a:hover {
    text-decoration:underline;
}
article h2 {
    font-size: 170%;
    text-align: left;
}
article h3 {
    font-size: 150%;
    text-align: left;
}
@media screen and (min-width:750px) {
    article h1 {
        font-size: 300%;
    }
    article h2 {
        font-size: 190%;
    }
    article h3 {
        font-size: 170%;
    }
}

pre:hover {
    overflow-x: auto;
}

pre {
    overflow-x: hidden;
    padding: 30px;
}

#post {
    color: #333332;
    font-size: 130%;
    line-height: 1.4;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens:  auto;
    -o-hyphens: auto;
    -ms-hyphens: auto;
}
.centered #post {
    text-align: center;
}
article #post img,
article #post iframe {
    max-width:100%;
}
#post p,
#post ul,
#post blockquote {
    font-family: "Charis SIL", Bitstream Charter, Georgia, "Fira Sans", serif;
}
#post a img {
    border: 0 none;
}
.align,
.align.center {
    display: block;
    margin: 0 auto;
}
.align.center {
    margin: 0 auto;
}
.align.inline {
    display: inline-block;
    margin: 0 -5px 0 0;
}

@media screen and (min-width:700px) {
    .align.right {
        float: right;
        margin: 10px 0 10px 30px;
    }
    .align.left {
        float: left;
        margin: 10px 30px 10px 0;
    }
}

ul {
    list-style: outside square;
}

a.bouton {
    border: 1px solid currentcolor;
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    padding: 5px 20px;
    margin: 0 0 5px;
    display: inline-block;
    text-indent: 0;
    text-decoration: none;
    border-radius: 2em;
    font-weight: 400;
    font-style: italic;
    outline: 0;    
}
a.bouton:hover {
    background-color: #4E43C8;
    border-color: #4e43c8;
    color: #ddd;
    text-decoration: none;
}
a.bouton:active {
    text-decoration: none;
    box-shadow: 0 1px rgba(0, 0, 0, .3) inset;
    color: rgba(255, 255, 255, .4);
}
blockquote {
    font-style: italic;
    text-indent: 0;
    border-left: 3px solid #000;
    margin: 22px 0;
    padding-left: 4.5%;
    font-weight: 300;
    font-size: 105%;
}
.page {
	text-align: left;
}
.page p {
    font-size: 125%;
}
.page .en {
	color: #777;
}


/* Readnext footer */

.readnext {
    padding: 30px 20px;
    clear: both;
}
.readnext a {
    display: block;
    margin: 0px auto;
    max-width: 600px;
    text-align: center;
}
.readnext:hover a {
    opacity: 1;
}
.readnext a > span {
    display: block;
    text-align: center;
    color: #888;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 70%;
    letter-spacing: 3px;
}
.readnext a > h1 {
    line-height: 1.1;
    margin: 5px 0 15px;
    font-size: 180%;
    font-weight: bold;
}
.readnext a:hover > h1 {
    opacity: 1;
}

/* Fin commentaires */

/* animations */

@keyframes fondu {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fondu {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes slideup {
    0% { transform: translate(0, 60px); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}
@keyframes slidedown {
    0% { transform: translate(0, -60px); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}
@-webkit-keyframes slidedown {
    0% { -webkit-transform: translate(0, -60px); opacity: 0; }
    100% { -webkit-transform: translate(0, 0); opacity: 1; }
}